@CHARSET "UTF-8";
html, body {
	height: 100%;
}

body {
	min-width:800px;
}

form > label {
	width: 200px;
	display: inline-block;
	float: left;
	
}

html > body {
	text-align: center;
}

.table-box-type-1 > table {
	width: 100%;
}

#button {
	text-align: center;
}